.nav{
    background-color: blanchedalmond;
}
.container{
    display: flex;
    height: 500px;
    background-image: url(https://t3.ftcdn.net/jpg/05/52/79/46/360_F_552794679_X6Jg3Hn2MdCHvMNTyBPzHx5vOTqoaE2e.jpg);
    overflow: hidden;
    background-size: cover;

}
.container,h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(244, 234, 234);
    font-size: 80px;
    background-repeat: no-repeat;
}
.containerx{
    margin-left: 100px;
    margin-top: 30px;
}
.card, img{
height: 400px;
}
.about{
    text-align: center;
    color: blue;
    margin-top: 80px;
}
.containery{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.containery, h2{
    text-align: left;
    color: rgb(220, 77, 77);
    font-size: 60px;
}
.qq{
    color: black;
    padding-block: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 17px;
}
.line{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.line, h3{
    margin-bottom: 40px;
}
.line, h5{
    margin-top: 17px;
}
.containerr{
 /* padding-left: 400px; */
 width: 100%;
}
.containerr{
    margin-left: 450px;
}
footer{
    margin-top: 40px;
    background-color: rgb(131, 151, 151);
    text-align: center;
   
}
.aa{

    background-color: blanchedalmond;
    text-decoration: none;
    border-radius: 4px;
}
.aa:hover{
    background-color: red;
}